<div class="wrap">
    <div id="home">

      <div class="text-center">
        <div class="home-intro">
          <h2>Hello Everyone !</h2>
          <h1>Welcome to <br>My World!</h1>
        </div>
      </div>
    </div>

    <div id="profile">
      <h1>profile</h1>
      <div class="profile-main">
        <div class="profile-left">
          <div class="profile-img">
            <img src="/me1.JPG" alt="" style="height:300px;">

          </div>
          <div class=profile-introduce>
            <h2>KENTA TERASHIMA</h2>

            <p>素性不明の男性<br>
            基本秘密主義であるがぽろっと自己を語ることが多々あるから最近気を付けようとしている。<br>
          </p>
          </div>
        </div>
        <div class="profile-right">
          <div class="profile-frame">
            <ul>
              <li>
                <label for="">Name</label><span>KENTA TERASHIMA</span>
              </li>
              <li>
                <label for="">Birthday</label><span>1998/09/02</span>
              </li>
              <li>
                <label for="">Nationality</label><span>?</span>
              </li>
              <li>
                <label for="">好きな食べ物</label><span>チョコレート</span>
              </li>
              <li>
                <label for="">嫌いな食べ物</label><span>チーズ</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div id="skill">
      <div class="col-md-6 bg-color-left">
        <div class="m-3">
          <div class="col-md-12 text-center margin-top-50 heading-skills2">
            <h3 class=p-3>SKILL</h3>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-md-5 no-padding">
            <h3>お料理レベル</h3>
          </div>
          <div class="col-md-12 no-padding">
            <div class="progress">
             <div class="progress-bar progress-bar-striped progress-bar-animated bg-cooking" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">Level.80</div>
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-md-5 no-padding">
            <h3>絵描きレベル</h3>
          </div>
          <div class="col-md-12 no-padding">
            <div class="progress">
             <div class="progress-bar progress-bar-striped progress-bar-animated bg-drawing" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">Level.50</div>
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-md-5">
            <h3>愛犬家レベル</h3>
          </div>
          <div class="col-md-12">
            <div class="progress">
             <div class="progress-bar progress-bar-striped progress-bar-animated bg-dog" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Error</div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 text-center">
            <h3>INTERESTS</h3>
          </div>
          <div class="col-md-4 interest-box">
            <div class="interest-icon text-center">
              <i class="fa fa-plane"></i>
              <br>
              <h5>Travel</h5>
            </div>
          </div>
            <div class="col-md-4 interest-box">
              <div class="interest-icon text-center">
                <i class="fa fa-gamepad"></i>
                <br>
                <h5>Game</h5>
              </div>
            </div>
            <div class="col-md-4 interest-box">
              <div class="interest-icon text-center">
                <i class="fas fa-smile"></i>
                <br>
                <h5>Poker</h5>
              </div>
            </div>
            <div class="col-md-4 interest-box">
              <div class="interest-icon text-center">
                <i class="fa fa-headphones"></i>
                <br>
                <h5>Music</h5>
              </div>
            </div>
            <div class="col-md-4 interest-box">
              <div class="interest-icon text-center">
              <i class="fas fa-utensils"></i>
                <br>
                <h5>Cooking</h5>
              </div>
            </div>
            <div class="col-md-4 interest-box">
              <div class="interest-icon text-center">
                <i class="fas fa-palette"></i>
                <br>
                <h5>Arts</h5>
              </div>
            </div>
          </div>


      </div>
      <div class="col-mg-6 bg-color-right">
        <div class="right-skills">
          <div class="m-3">
            <div class="col-md-12 heading-skills text-center margin-top-50">
              <h3 class="p-3">Face</h3>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-md-5">
              <h3>顔の濃さ</h3>
            </div>
            <div class="col-md-12">
              <div class="progress">
               <div class="progress-bar progress-bar-striped  bg-success progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5 no-padding">
              <h3>眉毛の形</h3>
            </div>
            <div class="col-md-12 no-padding">
              <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5">
              <h3>骨格の形</h3>
            </div>
            <div class="col-md-12">
              <div class="progress">
               <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5">
              <h3>おでこの広さ</h3>
            </div>
            <div class="col-md-12">
              <div class="progress">
               <div class="progress-bar progress-bar-striped  bg-warning progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5">
              <h3>坊主の相性</h3>
            </div>
            <div class="col-md-12">
              <div class="progress">
               <div class="progress-bar progress-bar-striped bg-grey progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
              </div>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-5">
              <h3>髭の濃さ</h3>
            </div>
            <div class="col-md-12">
              <div class="progress">
               <div class="progress-bar progress-bar-striped bg-orange progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
    <div id="gallery">
      <div class="text-center photo-main">
        <h1>Gallery</h1>
        <div class="photo-left col-mg-6">
          <div class="photo-me">
            <div class="photos  text-center">
              <div class="b"><img class="photo-size" src="/me2.jpg"></div>
              <div class="b"><img class="photo-size" src="/me4.jpg"></div>
              <div class="b"><img class="photo-size" src="/me5.jpg"></div>
            </div>
          </div>
        <div class="photo-cooking">
          <div class="cooking">
            <div class="photos">
              <div class="b"><img class="photo-size" src="/cooking1.jpg"></div>
              <div class="b"><img class="photo-size" src="/cooking2.jpg"></div>
              <div class="b"><img class="photo-size" src="/cooking3.jpg"></div>
            </div>
          </div>
        </div>

        </div>
        <div class="photo-right col-mg-6">
          <div class="drawing">
            <div class="photos">
              <div class="b"><img class="photo-size" src="/drawing1.jpg"></div>
              <div class="b"><img class="photo-size" src="/drawing2.jpg"></div>
              <div class="b"><img class="photo-size" src="/drawing3.jpg"></div>
            </div>
          </div>
          <div class="photo-me2">
            <div class="photos">
              <div class="b"><img class="photo-size1" src="/me3.jpg"></div>
              <div class="b"><img class="photo-size1" src="/me6.jpg"></div>
              <div class="b"><img class="photo-size1" src="/me7.jpg"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  <!--  <div id="contact">
      <div class="text-center">
          <div class="contact-form">
            <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
              <div class="page-header">
                <h1>お問い合わせ</h1>
              </div>

              <% if @inquiry.errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <strong>入力内容にエラーがあります</strong>
                  <ul>
                    <% @inquiry.errors.each do |attr, msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <table class="table">
                <tr>
                  <th>名前<span class="text-danger">（必須）</span></th>
                  <td><%= f.text_field :name %></td>
                </tr>
                <tr>
                  <th>メールアドレス<span class="text-danger">（必須）</span></th>
                  <td><%= f.text_field :email %></td>
                </tr>
                <tr>
                  <th>お問い合わせ内容</th>
                  <td><%= f.text_area :message %></td>
                </tr>
              </table>
              <%= f.submit '確認', class: 'btn btn-primary' %>
            <% end %>
          </div>
      </div>
    </div>
</div> -->
<!--   <div id="tab-container" class="tab-container">
  <ul class="etabs">
    <li class="tab"><a href="#profile"><i class="fa fa-user"></i><p>profile</p></a></li>
    <li class="tab"><a href="#skill"><i class="fa fa-user"></i><p>profile</p></a></li>
    <li class="tab"><a href="#portfolio"><i class="fa fa-user"></i><p>profile</p></a></li>
    <li class="tab"><a href="#contact"><i class="fa fa-user"></i><p>profile</p></a></li>
  </ul>
</div>
-->


    <footer class="text-center bg-copyright">
      <div class="copyright">copyright &copy; 2020 Kentaterashima</div>
    </footer>
