<!DOCTYPE html>
<html>
  <head>
    <title>Kentaterashima</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark pos-f">
      <a class="navbar-brand" href="#">Kenta Terashima</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "about", {anchor:"about"}, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">技術</a>
            <%= link_to "Pictures", {anchor:"picture"}, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">技術</a>
            <%= link_to "Contact", {anchor:"contact"}, class:"nav-link"%>
          </li>
        </ul>
      </div>
  </nav>
    <%= yield %>
  </body>
</html>
